body{
    background-color: #b7e4f9ff;
    font-family: 'get_schwiftyregular';
    align-items: center;
}

@font-face {
    font-family: 'get_schwiftyregular';
    src: url('/fonts/get_schwifty-webfont.woff2') format('woff2'),
         url('/fonts/get_schwifty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1{
   color :#e89242ff;
   font-size : 70px;
   text-align: center;
}
h2{
   color :#24325fff;
   font-size: 55px;
   text-align: center;
}

header{
    padding: 50px;
}

header h1{
    color: #fb6467ff;
}
header img{
    border-radius: 150px;
    border: 10px solid #fafd7cff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
div{
    align-items: center;
}

img{
    align-items: center;
}
